<html>

<head>
    <title>cow chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>


	<div id="container">
			<div class = "title"><h2 >  cow chat</h2></div>
	<div id="message-container">

    	<div id="messages"></div>
    </div>
    <div id="inputs">

    	<input placeholder="username" type="text" id="username" autofocus />


    	<input placeholder="write anything!" type="text" id="chatbox" />

    	<input id='formId' type='button' value='enter' />

    	<div>
    	    <input placeholder="put a colour here" type="text" id="colour" />
    	</div>
    </div>
</div>


    <script src="chat.js">
    </script>

</body>

</html>