<html>
  <head>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <form action = "/" method = "post">
      <p><input class="userbox" class =  type = text name ="username" placeholder = "username"/></p>
      <p><input class="userbox" placeholder="put a colour here" type="text" id="colour" name="colour"/></p>
      <p><input class="userbox" type="submit" value="Login"></p>
    </form>
    <script src="chat.js"></script>
  </body>
</html>